[submodule "RMCIOS-test"]
	path = RMCIOS-test
	url = https://github.com/fkorhone/RMCIOS-test.git
[submodule "RMCIOS-interface"]
	path = RMCIOS-interface
	url = https://github.com/fkorhone/RMCIOS-interface.git
